<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artisana</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="header">
        <div id="logo">
            <h1><a href="/">ARTISANA</a></h1>
            <h2><a href="/">Vos meilleurs ateliers</a></h2>
        </div>
        <div id="menu">
            <ul>
                <li class="active"><a href="/">Accueil</a></li>
                <li><a th:href="@{/ateliers}">Liste Ateliers</a></li>
                <li><a th:href="@{/reservations}">Liste Réservations</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <h1>Erreur</h1>

		<p th:text="${error}"></p>
    </div>
    <div id="footer">
        <p id="legal">Copyright &copy; 2007 ARTISANA. All Rights Reserved.</p>
    </div>
</body>
</html>